/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}
:root{
/* Font Sizes & Family */
/* if we set html's font size 62.5% then 1rem = 10px */

--body-font: 'Poppins', sans-serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}


/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: var(--white-color);
}

/* Custom Scrollbar */
::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--primary-color-hover)
}

body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reusuable CSS */
.section{
  padding: 7rem 2rem;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button{
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover{
  background-color: var(--primary-color-hover);
}
.section-subtitle,
.content-subtitle{
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}
.section-title,
.content-title{
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}
.section-description,
.content-description{
  text-align: center;
  margin-bottom: 2rem;
}
.section-description{
  padding: 0 16rem;
}
/* Header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--tran-0-5);
}
.header-active{
  height: 6rem;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */
nav #login a{
       text-decoration: none;
       color: white;
}
nav #login{
       font-size: 15px;
       color: white;
       float: right;
       height: 60px;
       width: 100px;
       display: inline-block;
       line-height: 60px;
       text-align: center;
       margin-right: 50px;
       text-align: center;
      
}
nav #login:hover{
      background-color:#788DE3    ;
      transition: 0.2s all ease;
      border-radius: 10px;
      float: right;

}
nav{
      font-family: Verdana;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%; 
      height: 60px;
      background-color: #152081   ;
      box-shadow: rgba(0, 0, 0, 0.5 ) 0 2px 6px 0;
}
nav ul{
       list-style-type: none;
       padding-top: 0px;
       margin-left:5px ;
}
nav ul li{
       float: left;
       width: 145px;
       height: 60px;
       font-size: 15px;
       line-height: 60px;
       text-align: center;
}
nav ul li a{
       text-decoration: none;
       color: white;
       display: block;
       
}
nav ul li a:hover{
      background-color:#788DE3    ;
      transition: 0.2s all ease;
      border-radius: 10px;
}

/* Home */
.home{
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}
.swiper-slide{
  position: relative;
  height: 100vh;
  width: 100%;
}
.home .swiper-slide::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-overlay);
}
.home-img{
  height: 100%;
  width: 100%;
}

/* swiper button */
.swiper-navBtn{
  height: 5rem;
  width: 5rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  opacity: 0;
  visibility: visible;
}
.home:hover .swiper-navBtn,
.review:hover .swiper-navBtn{
  opacity: 1;
}
.swiper-navBtn:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.swiper-navBtn::after,
.swiper-navBtn::before{
  font-size: 2rem;
}

.swiper-button-next{
  right: 16rem;
}
.swiper-button-prev{
  left: 16rem;
}

.swiper-pagination-bullet{
  background-color: var(--white-color);
  opacity: 1;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 2rem;
  visibility: hidden;
}
.swiper-pagination-bullet-active{
  border: 3px solid var(--white-color);
  background-color: var(--primary-color);
}
.home-details{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
}

.homeSubtitle{
  text-align: center;
  font-size: var(--normal-font);
  color: var(--white-color);
}
.homeTitle{
  text-align: center;
  font-size: var(--big-font);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.color{
  background:linear-gradient(#F5CBA7,#EDBB99 ) ;
}
/* About */
.about .content-subtitle,
.about .content-title,
.about .content-description{
  text-align: left;
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}
.about-imageContent{
  position: relative;
  max-width: 400px;
  height: 450px;
  border: 6px solid var(--section-bg);
}
.aboutImg-textBox{
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  text-align: center;
  border: 6px solid var(--section-bg);
  background-color: var(--white-color);
}
.aboutImg-textBox .content-description{
  text-align: center;
  margin-bottom: 0;
}
.heart-icon{
  position: absolute;
  left: -1.9rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--white-color);
  background-color: var(--section-bg);
  transform: translateY(-50%);
  justify-content: center;
  border-radius: 50%;
}

.about-details{
  display: grid;
  row-gap: 4rem;
}
.about-lists{
  column-gap: 1rem;
  align-items: baseline;
}
.about-list{
  font-weight: var(--font-medium);
  font-size: 1.8rem;
}
.about-list:nth-child(1){
  color: var(--primary-color);
}
.about-list.dot{
  font-size: 2.5rem;
}
.about-buttons{
  column-gap: 2rem;
}
.about-link .link-text,
.about-arrowIcon{
  color: var(--text-color);
  text-transform: uppercase;
}
.about-arrowIcon{
  transition: var(--tran-0-3);
}
.about-link:hover .about-arrowIcon{
  margin-left: 4px;
}

/* Menu */
.menu{
  background-color:#FBB55C;
}
.section-title,
.section-description{
  color: var(--white-color);
}
.menu .menu-content{
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem;
  margin-top: 6rem
}
.menu-img{
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
}
.menu-items{
  display: grid;
  row-gap: 1.5rem;
}

.menu-item{
  position: relative;
  padding: 2rem 2.5rem;
  background-color: var(--white-color);
}
.menuItem-details{
  margin-right: 1.5rem;
}
.menuItem-topic{
  font-weight: var(--font-semi-bold);
}
.menuItem-des{
  font-size: var(--small-font);
}
.menuItem-price{
  flex-direction: column;
  padding-left: 2rem;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.discount-price{
  font-size: 1.8rem;
}
.real-price{
  text-decoration: line-through;
}
.time-topic{
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.time-list{
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}
.time-list:nth-child(7){
  border-bottom: none;
}

/* Brand */
.footer{
  font-family: Verdana;
  background-color: #24262b;
  padding:20px 0px ;
  width: 100%;
  margin-top: 40px;

}


.row{
  display: flex;
  flex-wrap:wrap ;
  
}
.footer-col1{
   width: 260px;
  height: 100px;
  text-transform: uppercase;
  
}
.footer-col1 h4{
    font-size: 1em;
}
.footer-col1 h5{
     font-size: 0.8em;
     line-height: 20px;
     font-weight: normal;

}
.footer-col2 h4{
  
  padding-bottom: 10px;
}
.footer-col2 ul{
      list-style: none;
}
.footer-col2 ul li a{
  text-decoration: none;
  color: black;
  line-height: 30px;
 
}
.footer-col2{
   text-transform: uppercase;
   
   padding-left: 50px;
}
.footer-col2 ul li a i{
  padding-right: 5px;
}
.footer-col2 ul li a:hover i{
       padding-right: 20px;
       transition: padding-right 350ms;
      
}
.footer-col4 h4{
     padding-bottom: 10px;
}
.footer-col4 ul{
      list-style: none;
}
.footer-col4 ul li a{
  text-decoration: none;
  color: black;
  line-height: 30px;
}
.footer-col4{
    text-transform: uppercase;
    padding-left: 30px;
   
}
.footer-col4 ul li a i {
    padding-right: 20px;
}
.footer-col3 ul{
  list-style: none;
}

.footer-col3 ul li{
  display: inline-block;
  text-decoration: none;
  width: 30px;

}
.footer-col3 {
   padding-right: 30px;
   padding-left: 30px;
   text-transform: uppercase;
   position: relative;
}
.footer-col3 h4{
    font-size: 0.98em;
    color: black;
    padding-bottom: 10px;
}
.footer-col3 .fa-brands {
  padding-top: 2px;
  font-size: 20px;
  color:black;
  transition: font-size 400ms;
  position: absolute;
  
}
.fa-brands:hover {
       font-size: 25px;
      
}
.container_f{
  max-width: 1300px;
  background-color: #E3E5EC ;
  margin: auto;
  height: 19em;
  padding:30px;
  padding-left: 30px;

}
.third .con{
  width: 87%;
  height:300px;
  padding-top: 20px;
  display: flex;
  margin-right: 220px;
  margin-top: 20px;
  border-radius: 30px;
  background-size: cover;
  background:linear-gradient(to left , #FBB55C,#F5CBA7);
  font-family: sans-serif;
}

.third .gallery{
  display:flex;
    
}


.third .con p{
  
  font-family:  sans-serif;
  margin-top: 60px;
  margin-left: 70px;
  width: 350px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  padding-right: 50px;
}

.third .img-box{
  
  padding: none;
  width: 200px;
  height: 250px;
  margin: 10px;
  border-radius: 20px;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}
.third .img-box:nth-child(1){
  background: url("D:/HTML/HTML_Pj/event.jpg");
  background-size: cover;
  background-position: center;
}
.third .img-box:nth-child(2){
  background: url("D:/HTML/HTML_Pj/image/event2.jpg");
  background-size: cover;
  background-position: center;
}
.third .img-box:nth-child(3){
  background: url("D:/HTML/HTML_Pj/bar.webp");
  background-size: cover;
  background-position: center;
}


.third .img-box h3{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.9s;
}
.third .img-box:hover{
  width: 300px;
  cursor: pointer;
}
.third .img-box:hover h3{
  opacity: 2;
  bottom: 5px;
  }
.fourth{
  width: 87%;
  height:300px;
  display: flex;
  padding-left: 50px;
  margin-left: 150px;
  border-radius: 35px;
  background-size: cover;
  padding-top: 20px;
  margin-top: 20px;
  background:linear-gradient(to left,#F5CBA7 , #FBB55C);
}

 .fourth .gallery1{
  display: flex;
  float: left;
    
}

.fourth .con1 p{
  font-family:sans-serif ;
  float: right;
  margin-top: 60px;
  margin-left: 70px;
  width: 350px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  padding-right: 50px;
}

.fourth .img-box1{
  
  padding: none;
  width: 200px;
  height: 250px;
  margin: 10px;
  border-radius: 20px;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}
.fourth .img-box1:nth-child(1){
  background: url("D:/HTML/HTML_Pj/spa.jpg");
  background-size: cover;
  background-position: center;
}
.fourth .img-box1:nth-child(2){
  background: url("D:/HTML/HTML_Pj/yoga.jpg");
  background-size: cover;
  background-position: center;
}
.fourth .img-box1:nth-child(3){
  background: url("D:/HTML/HTML_Pj/gym.jpg");
  background-size: cover;
  background-position: center;
}

.fourth .img-box1 h3{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.9s;
}
.fourth .img-box1:hover{
  width: 300px;
  cursor: pointer;
}
.fourth .img-box1:hover h3{
  opacity: 2;
  bottom: 5px;
}


/* Scroll Up */
.scrollUp-btn{
  position: fixed;
  bottom: -30%;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 4px;
  color: var(--primary-color-hover);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  z-index: var(--z-overlay);
  justify-content: center;
  transition: var(--tran-0-3);
}
.scrollUpBtn-active{
  bottom: 3rem;
}
.scrollUp-icon{
  opacity: 0.9;
  transition: var(--tran-0-3);
}
.scrollUp-btn:hover .scrollUp-icon{
  opacity: 1;
}

/* Responive media */
@media screen and (max-width: 1150px) {
  .swiper-button-prev {
    left: 10rem;
}
  .swiper-button-next {
    right: 10rem;
}
}

@media screen and (max-width: 1000px) {
  .swiper-button-prev {
    left: 3rem;
}
  .swiper-button-next {
    right: 3rem;
}
  .section-description {
    padding: 0 8rem;
  }
  .about-imageContent {
    height: 400px;
  }
  .aboutImg-textBox {
    padding: 1.5rem 2rem;
  }
  .menu .menu-content {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3rem;
  }
  .brand-images{
    grid-template-columns: repeat(3,1fr);
  }

}

@media screen and (max-width: 768px) {
  .section.review{
    padding: 7rem 1rem 3rem;
  }
  .review .swiper{
    padding-bottom: 6.5rem;
  }
  .swiper-navBtn{
    visibility: hidden;
  }
  .swiper-pagination-bullet{
    visibility: visible;
  }

  .section {
    padding: 7rem 1rem;
}
.section-description,
.review-quote{
  padding: 0 6rem;
}
.about-content{
  grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: center;
}
.about .content-subtitle,
.about .content-title,
.about .content-description{
  text-align: center;
}
.about-details {
  justify-items: center;
}
.about-lists{
  justify-content: center;
}
.menu .menu-content {
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.footer-container{
  row-gap: 1.5rem;
}
}

@media screen and (max-width: 600px){
  .container{
    padding: 0.5rem;
  }
  .section-description, .review-quote{
    padding: 0;
  }
  .aboutImg-textBox{
    right: -2rem
  }
  .menuItem-price{
    border: none;
  }
  .menu-img{
    height: 70px;
    width: 70px;
    margin-right: 0;
}
  .brand-images{
    grid-template-columns: repeat(2,1fr);
  }
  .brand-img{
    width: 130px;
  }
  .footer-container{
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
  .footer-content{
    justify-items: center;
  }
  .footer-linkContent{
    justify-items: center;
  }
  
}
@media screen and (max-width: 400px) {
  .homeTitle{
    font-size:3rem;
  }
  .menu-item{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    row-gap: 2rem;
  }
  .menuItem-details{
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuItem-price{
    padding-left: 0;
    flex-direction: row;
  }
  .menuItem-des{
    text-align: center;
}
  .newsletter-input {
    padding: 0 11rem 0 2rem;

}
  .newsletter-button {
    padding: 1.4rem 2rem;

}
}