
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#yoon{
  background-color: #599DCC;
}



.contain {
  
  width:;
  height: 80%;
  overflow: hidden;
  margin-left: 350px;
  align-items: center;
  
  margin-top: 60px; 
}


.con h2{
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-left:320px;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana;
  color: white;

}


.form {
  
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow:  rgba(0, 0, 0, 0.5 ) 0 2px 6px 0;
  z-index: 100;
  overflow: hidden;
  margin-left: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.contact-form {
  background-color:#153678   ;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%,#5089FD );
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}



form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;

}

.title {
 
  color: white;
  font-weight:bold;
  font-size: 1.5em;
  
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea .input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.btn h5 a{
    margin-top: 40px;
    border-radius: 10px;
    border: 0.5px solid white;
    background:transparent  ;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width:100px;
    padding-bottom: 10px;
    
    margin-left: 77%;
    color: white;
    text-decoration: none;

}
#sendItem {
      margin-left: 10px;
      font-size: 13px;
      font-weight: bold;
      padding:10px 10px 10px 10px;
      border-radius: 10px;
      font-family: Verdana;
}
#sendItem:hover{
  background-color:#9AD0F5  ;
}
.btn h5 a:hover{
  background-color: #5089FD   ;
  
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

 .text {
color: black;
font-size: 17px;
text-transform:;
font-family:unset;
 margin: 1.5rem 0 2rem 0;
}
.information p{
  padding-left: 20px;
}
.information p a{
  color: black;
}
.information  p1{
  padding-left:10px;
  color: black;
}
.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p{
  color: black;
  font-weight: bold;
}

.social-icons {
  display: flex;

  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg,#5C8AE6   ,#3363C4 );
  color: black;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}
.contact-info .title{
  color: black;
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid gray;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}



.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}



  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

.title{
    font-size: 1.5em;
    text-transform: uppercase;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
nav #login a{
       text-decoration: none;
       color: white;
}
nav #login{
       font-size: 15px;
       color: white;
       float: right;
       height: 60px;
       width: 100px;
       display: inline-block;
       line-height: 60px;
       text-align: center;
       margin-right: 50px;
       text-align: center;
      
}
nav #login:hover{
      background-color:#788DE3    ;
      transition: 0.2s all ease;
      border-radius: 10px;
      float: right;

}

nav{
      font-family: Verdana;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%; 
      height: 60px;
      font-size: 1.6em;
      background-color: #152081   ;
      box-shadow: rgba(0, 0, 0, 0.5 ) 0 2px 6px 0;
}
nav ul{
       list-style-type: none;
       padding-top: 0px;
       margin-left:5px ;
}
nav ul li{
       float: left;
       width: 145px;
       height: 60px;
       font-size: 15px;
       line-height: 60px;
       text-align: center;
}
nav ul li a{
       text-decoration: none;
       color: white;
       display: block;
       
}
nav ul li a:hover{
      background-color:#788DE3    ;
      transition: 0.2s all ease;
      border-radius: 10px;
      color: white;
}

#accordion{
  
  margin-left: 8px;
  width: 600px;

}
#accordion li{
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: #89CAF7  ;
  padding: 10px;
  border-radius: 4px;
}
#accordion li label{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight:bold;
  cursor: pointer;
  color: black;
}
#accordion li label span{
  transform: rotate(90deg);
  font-size: 19px;
  color: #333;
}
#accordion label + input[type="radio"]{
  display: none;
}
#accordion .content{
  padding: 0 10px;
  
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms;
  
}
#accordion label + input[type="radio"]:checked + .content{
  max-height: 400px;

}
#accordion p{
  color: black;
}
#accordion label &#x3e;{
  color: white;
}

#Acc{
  background-color: white;
  border: 1px solid white;
  width: 650px;
  margin-left: 430px;
  height:690px;
  
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);

}
#Acc h3{
  margin-top: 40px;
  text-align: center;
  font-size: 25px;

  text-transform: uppercase; 
}
.container_f{

 max-width: 1170px;
  background-color: #E3E5EC ;
  margin: auto;
  height: 15em;
  padding-top: 30px;
  padding-left: 30px;
}
.container_f{
  max-width: 1300px;
  background-color: #E3E5EC ;
  margin: auto;
  height: 19.4em;
  padding-top: 30px;
  padding-left: 30px;
}
.footer{
  font-family: Verdana;
  
  background-color: #24262b;
  padding:20px 0px ;
  width: 100%;

}


.rowF{
  display: flex;
  flex-wrap:wrap ;
  
}
.footer-col1{
   width: 260px;
  height: 100px;
  text-transform: uppercase;
  
}
.footer-col1 #h41{
    font-size: 1em;
    font-weight: bolder;
}
.footer-col1 #h51{
     font-size: 0.8em;
     line-height: 20px;
     font-weight: normal;

}
.footer-col2 #h42{
   font-size: 1em;
    font-weight: bolder;
  padding-bottom: 10px;
}
.footer-col2 ul{
      list-style: none;
}
.footer-col2 ul li a{
  text-decoration: none;
  color: black;
  line-height: 30px;
 
}
.footer-col2{
   text-transform: uppercase;
   
   padding-left: 50px;
}
.footer-col2 ul li a i{
  padding-right: 5px;
}
.footer-col2 ul li a:hover i{
       padding-right: 20px;
       transition: padding-right 350ms;
      
}
.footer-col4 #h44{
      font-size: 1em;
    font-weight: bolder;
     padding-bottom: 10px;
}
.footer-col4 ul{
      list-style: none;
}
.footer-col4 ul li a{
  text-decoration: none;
  color: black;
  line-height: 30px;
}
.footer-col4{
    text-transform: uppercase;
    padding-left: 30px;
   
}
.footer-col4 ul li a i {
    
}
.footer-col3 ul{
  list-style: none;
}

.footer-col3 ul li{
  display: inline-block;
  text-decoration: none;
  width: 30px;

}
.footer-col3 {
   
   padding-left: 30px;
   text-transform: uppercase;
   position: relative;
}
.footer-col3 #h43{
     font-size: 1em;
    font-weight: bolder;
    
}
.footer-col3 .fa-brands {
  padding-top: 2px;
  font-size: 20px;
  color:black;
  transition: font-size 400ms;
  position: absolute;
  
}
.fa-brands:hover {
       font-size: 25px;
      
}

section{
  padding-bottom: 50px;
}
.section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
    color: black;
    padding-top: 30px;
}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;

}
.section-header span {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.testimonials{
    max-width: 1200px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
    border-radius: 50px;

}
.single-item{
    background: #599DCC;
    color: white;
    padding: 15px;
    margin: 50px 15px;

}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
  margin: 0 15px 15px 15px;
}
.img-area img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 7px solid black;
}
.contentA{
    font-size: 18px;
}
.contentA p {
  text-align: justify;

}
.contentA p span {
  font-size: 48px;
  margin-right: 20px;
    color:black;
}
.socials i {
  margin-right: 25px;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: darkblue;
}
.rowR{
  margin-left: 400px;
}


